/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-error {
  color: var(--bs-red);
}
  
th{
  text-align: center;
}

.table-links, .tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tasks td{
  width: 20%;
}

#tasks.table {
  min-height: 650px;  
}

.task-card {
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
  
.task-card .card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.75rem 1.25rem;
}
  
.task-card .card-footer .btn {
  margin-right: 0.5rem;
}

.task-card .card-footer .log {
  margin-right: auto;
}

.tasks-header h3 {
  text-align: center;
}
